<html>
  <body>
    <ul class='events'>
      <li class='event' id='event-1'>
        <div class='name'>Entrega do Trabalho Final</div>
        <div class='starts'>10/08/2016 - 11:00</div>
        <div class='ends'>10/08/2016 - 13:00</div>
        <div class='info'>Info 1</div>
      </li>
      <li class='event' id='event-2'>
        <div class='name'>Prova 2</div>
        <div class='starts'>13/08/2016 - 11:00</div>
        <div class='ends'>13/08/2016 - 13:00</div>
        <div class='info'>Materia da Prova</div>
      </li>
    </ul>

    <ul class='files'>
      <li class='file' id='file-1'>
        <div class='file_name'>Lista de Exercicios</div>
        <div class='description'>Lista de exercicios para a P1</div>
        <div class='content_type'>txt</div>
        <div class='file_size'>500kb</div>
        <div class='download_url'>http://professor.com/lista-1.txt</div>
        <div class='owner'>Professor</div>
      </li>
      <li class='file' id='file-2'>
        <div class='file_name'>Lista de Exercicios 2</div>
        <div class='description'>Lista de exercicios para a P2</div>
        <div class='content_type'>pdf</div>
        <div class='file_size'>5mb</div>
        <div class='download_url'>http://professor.com/lista-2.pdf</div>
        <div class='owner'>Professor</div>
      </li>
    </ul>
  </body>
</html>
