---
http_interactions:
- request:
    method: get
    uri: http://homologacao.sti.uff.br/conexaouff/api/v1//eventos
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Token token=12066aa34682c9880d1694515801328016d57084
  response:
    status:
      code: 200
      message: 'OK '
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"a31ec1cf992397f79682c66bd03a6cdd"
    body:
      encoding: UTF-8
      string: '[{"id":1729,"grupo_id":77947,"inicio":"2015-07-15T21:41:00.000-03:00","fim":"2015-07-15T21:41:00.000-03:00","titulo":"Evento
        1","url":"","observacoes":"","created_at":"2015-07-15T21:41:41.000-03:00","updated_at":"2015-07-15T21:41:41.000-03:00"},{"id":1730,"grupo_id":78979,"inicio":"2015-07-15T21:42:00.000-03:00","fim":"2015-07-15T21:42:00.000-03:00","titulo":"Evento
        De PA2","url":"","observacoes":"","created_at":"2015-07-15T21:42:36.000-03:00","updated_at":"2015-07-15T21:42:36.000-03:00"}]'
  recorded_at: Mon, 27 Jul 2015 21:29:09 GMT
recorded_with: VCR 2.9.3
